################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ASPWebApp/HeroApp/.vs/HeroApp/v16/TestStore/0
